RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

AuthType Basic
AuthName "Password Protected Project"
AuthUserFile /adobe/adobe.html/.htpasswd
Require valid-user
